body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;

}

/* CSS for 1st Meter */  
#score-meter-1{
  width: 600px;
  height: 300px;
  border-top-left-radius: 360px;
  border-top-right-radius: 360px;
  overflow: hidden;
  position:relative;
}

#box-circle{
  position: absolute;
  left: 18%;
  top: 38%;
  width: 60%;
  height: 60%;
  border-top-left-radius: 360px;
  border-top-right-radius: 360px;
  background-color: white;
  z-index: 11;
  border-left:15px solid white;
  border-top:15px solid white;
  border-right:15px solid white;
  background:linear-gradient(45deg,#f3f3f3,#434343) border-box; 
}

#box-pointer{
  position: absolute;
  left: 6%;
  top: 10%;
  width: 88%;
  height: 88%;
  border-top-left-radius: 360px;
  border-top-right-radius: 360px;
  background-color: white;
  z-index: 12;  
}

  .box {
      --rotation:unset;
      --colorBox:unset;
      --zindex:unset; 
      position: absolute;
      left: 0%;
      top: 0%;
      width: 100%;
      height: 100%;
      border-top-left-radius: 360px;
      border-top-right-radius: 360px;
      background-color: var(--colorBox);
      transform-origin: bottom center;
      transform: rotate(var(--rotation));
      z-index: var(--zindex);
      border: white 1px solid;
      cursor: pointer;
      /* border-radius: 0px 0px 0px 30px; */
  }




  .paragraph{
    display: none;
    height: 100%;
    width: 250px;
    padding: 2px;
    font-size: 1rem;
    transition: 0.7s;
  }

  .show{
    display: block;
    transition: 0.7s;
  }

  #float-box{ 
    height: 100px;
    width: 200px;
    position: relative; 
  }

  #float-box::before{
    --positionBulletTop:unset;
    --positionBulletLeft:unset;
    content: '';
    width: 15px;
    height: 15px;
    background-color: var(--colorPointer);
    border-radius: 50%;
    position: absolute;
    top:var(--positionBulletTop);
    left:var(--positionBulletLeft)
  }

  #float-box::after{
    --positionLineTop:unset;
    --positionLineLeft:unset;
    content: '';
    width: 1.5px;
    height: 120%;
    background-color: var(--colorPointer);
    border-radius: 50%;
    position: absolute;
    top:var(--positionLineTop);
    left:var(--positionLineLeft);
  }

  .position-1{
    top:120px;
    left:-15%;
    transform: rotate(-60deg);
    --colorPointer:#b8377e;
    --positionBulletTop:-10px;
    --positionBulletLeft:-33px;
    --positionLineTop:-10px;
    --positionLineLeft:-26px;
  }

  .position-2{
    top:-20px;
    left:12%;
    transform: rotate(-35deg);
    --colorPointer:#ddaa44;
    --positionBulletTop:-10px;
    --positionBulletLeft:-33px;
    --positionLineTop:-10px;
    --positionLineLeft:-26px;
  }

  .position-3{
    top:-30px;
    left:53%;
    transform: rotate(0deg);
    --colorPointer:#99b63b;
    --positionBulletTop:-10px;
    --positionBulletLeft:-33px;
    --positionLineTop:-10px;
    --positionLineLeft:-26px;
  }

  .position-4{
    top:-25px;
    left:48%;
    transform: rotate(30deg);
    --colorPointer:#659cce;
    --positionBulletTop:-10px;
    --positionBulletLeft:120%;
    --positionLineTop:-9px;
    --positionLineLeft:123%;
  }

  .position-5{
    top:90px;
    left:80%;
    transform: rotate(60deg);
    --colorPointer:#416aa7;
    --positionBulletTop:-10px;
    --positionBulletLeft:120%;
    --positionLineTop:-9px;
    --positionLineLeft:123%;
  }

  .b1 {--rotation:0deg; --colorBox:#b8377e; --zindex:6;}
  .b2 {--rotation:36deg; --colorBox:#ddaa44; --zindex:7;}
  .b3 {--rotation:72deg; --colorBox:#99b63b; --zindex:8;}
  .b4 {--rotation:108deg; --colorBox:#659cce; --zindex:9;}
  .b5 {--rotation:144deg; --colorBox:#416aa7; --zindex:10;}




  .box img{
      position: absolute;
      z-index: 12;
  }

  .b5 img{
      left:8.1%;
      top:57.5%;
      width: 48px;
      transform: rotate(213deg);
  }
  .b4 img{
      left:6.5%;
      top:63.5%;
      width: 80px;
      transform: rotate(248deg);
  }
  .b3 img{
      left:6.1%;
      top:68%;
      transform: rotate(284deg);
      width: 80px;
  }
  .b2 img{
      left:5.5%;
      top:64%;
      width: 90px;
      transform: rotate(324deg);
  }
  .b1 img{
      left:10%;
      top:62%;
      width: 37px;
      transform: rotate(364deg);
  }

.pointer {
  --rotatePointer:unset;
  position: absolute;
  top: 25%;
  left: -150%;
  width: 200%;
  height: 7px;
  background-color: #9c9694;
  transform: rotate(var(--rotatePointer));
  transform-origin: right center;
  transition: 0.8s;
  /* animation-name: ticker-mover-1;
  animation-duration: 20s ;
  animation-iteration-count:infinite;
  animation-timing-function: linear; */
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  z-index: 20;
}

    
.pointer-posicions-1{--rotatePointer:17deg;}
.pointer-posicions-2{--rotatePointer:48deg;}
.pointer-posicions-3{--rotatePointer:88deg;}
.pointer-posicions-4{--rotatePointer:125deg;}
.pointer-posicions-5{--rotatePointer:160deg;}


#dot-pointer{
  position: absolute;
  left: 40%;
  top: 80%;
  width: 20%;
  height: 40%;
  border-radius: 50%;
  background-color: #9c9694;
  z-index: 15;
}


.box-mobile-content{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-list{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  display: none;
}

.item-list{
  list-style: none;
  max-width: 300px;
  position: absolute;
  color:black;
  top:20px;
  font-weight: 400;
  display: none;
}

.item-list::before{
  content: '';
  width: 18px;
  height: 18px;
  background-color: #99b63b;
  border-radius: 50%;
  position: absolute;
  top:-10px;
  left:-34px;
}

.item-list::after{
  content: '';
  width: 2px;
  height: 120%;
  background-color: #99b63b;
  border-radius: 50%;
  position: absolute;
  top:-10px;
  left:-26px;
 
}

.show-mobile{
  display: block;
}

  @media only screen and (min-width: 761px){
  
  } 

  @media only screen and (max-width: 760px){
      #score-meter-1{
          width: 500px;
          height: 250px;
      }
  } 


  @media only screen and (max-width: 480px){
    #float-box{
      display: none;
    }
    .content-list{
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 30px;
      padding-bottom: 30px;
      position: relative;
      display: block;
    }

    #score-meter-1{
          width: 350px;
          height: 175px;
      }

      .content-list{
        width: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
      }

      #box-circle{
        left: 17%;
        top: 35%;
      }

      .box img{
          position: absolute;
          z-index: 12;
          cursor: default;
      }
  

      .b5 img{
          left:6.1%;
          top:56%;
          width: 30px;
          transform: rotate(210deg);
      }
      .b4 img{
          left:4.5%;
          top:62.5%;
          width: 55px;
          transform: rotate(246deg);
      }
      .b3 img{
          left:3.1%;
          top:67%;
          transform: rotate(283deg);
          width: 60px;
      }
      .b2 img{
          left:3.5%;
          top:60%;
          width: 65px;
          transform: rotate(324deg);
      }
      .b1 img{
          left:8.8%;
          top:60%;
          width: 25px;
          transform: rotate(364deg);
      }
  } 