body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-circle{
    background-color: #f3f3f3;
    height: 260px;
    width: 100%;
    max-width: 520px;
    border-top-left-radius:600px;
    border-top-right-radius:600px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    --rotateObject:0deg;
    --bgBoxColor: unset;
    background-color: var( --bgBoxColor);
    height:100%;
    width: 25%;
    position: absolute;
    transform-origin: bottom;
    transform: rotate(var(--rotateObject));
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.sub-box {
    --colorbg : unset;
    width: 100%;
    background-color: var(--colorbg);
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px 30px 30px 30px;
}

.sub-box::before{
    content:'';
    border-top-left-radius: 15px;
    border-bottom-right-radius: 20px;
    top: 0.5px;
    position: absolute;
    right: 88.5%;
    transform: rotate(-3deg);
    border-left: 30px solid transparent;
    border-top: 100px solid var(--colorbg);
    border-right:10px solid transparent;
}

.sub-box::after {
    content:'';
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: absolute;
    left: 87.7%;
    top: 0.5px;
    transform: rotate(5deg);
    border-right: 35px solid transparent;
    border-top: 100px solid var(--colorbg) ;
    border-left: 10px solid transparent;
}

.c1 {
    --colorbg: #b8377e;
}

.c2 {
    --colorbg: #ddaa44;
}
.c3 {
    --colorbg: #99b63b;
}
.c4 {
    --colorbg: #659cce;
}
.c5 {
    --colorbg: #416aa7;
}

.b1{
    --rotateObject:-75deg;
    
}
.b2{
    --rotateObject:0deg;
    
}
.b3{
    --rotateObject:-38deg;
    
}
.b4{
    --rotateObject:38deg;
    
}
.b5{
    --rotateObject:75deg;
}

